extends layout

block content
  .section.hero
    | #{userCount} Users
  .section.userlist(data-userlist="container")
    each user in users
      .userlist__user
        .userlist__user_item.name
          if user.isAdmin
            span.fa.fa-star.colorGold
            span #{user.twitchName}
          else
            span= user.twitchName
        .userlist__user_item.active Active  #{m(user.lastActive).fromNow()}
        .userlist__user_item.joined Joined  #{m(user.joinDate).fromNow()}
        .userlist__user_actions
          .btn(data-twitch-id=user.twitchId, data-icon-above="true") Copy ID
            span.icon-above.fa.fa-clipboard-check

    
